/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

.custom-danger-bg {
    background-color: #ffd0cc;
  }

.navbar {
    height: 100px;
  }

.navbar-background{
  background-color: rgba(0,24,51)
    
  }

.footer-background{
  background-color: rgba(78,15,46)
}
.home-background{
  position: relative;
  background-size: cover;
  background-position: center;
}

table {
  border-collapse: separate; /* Evita que los bordes se unan */
  border-spacing: 10px; /* Espaciado entre celdas */
}

tr, td, th {
  border: 2px solid black !important; /* Bordes en todas las direcciones */
  padding: 15px; /* Espaciado interno */
  text-align: center; /* Centrar texto */
  background-color: rgba(117, 25, 25, 0.7);
}

th{
  background-color: rgba(39, 3, 3, 0.5) !important;
}